 {
	"news.statya.teaser":  {
		"date":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "%d<br\/>  <small>%M<\/small>",
				"element": "_itemcreated"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"introtext":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "e201ac95-d51f-49a6-9971-f689d70655a4"
			}
		}
	},
	"blog.news.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"fulltext":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "aceffc38-9caa-4646-88f4-6a13710137ad"
			}
		},
		"comments":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "340c7e9a-0679-4ed3-8c4e-0fe4618fce6a"
			}
		}
	},
	"blog.news.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"introtext":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "aceffc38-9caa-4646-88f4-6a13710137ad"
			}
		}
	}
}