* {
  box-sizing: border-box;

  &::after {
    box-sizing: border-box;
  }

  &::before {
    box-sizing: border-box;
  }

  :invalid {
    box-shadow: none;
  }

  :-moz-submit-invalid {
    box-shadow: none;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  :focus {
    outline: none;
  }
}

.highlights {
  color: transparent;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

body {
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  line-height: normal;
  color: #222;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
